{% extends"base.html" %}
{% block content %}

    <head>


      <title>Catalogue</title>

  </head>

    <body>

    <div class="container">

         <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>A Warm Welcome!</h1>
            <p>Welcome to our online football catalogue webapp. This catalogue include some of the top leagues in the world including the Barclays Premier League and more.</p>
            <p><a class="btn btn-primary btn-large" href="/leagues">View Leagues!</a>
                
            </p>
        </header>

    </div>


    </body>

    {% endblock %}
